# Node
node_modules/
Provafigma/node_modules/
dist/
dist-prototype/
Provafigma/dist/
Provafigma/dist-prototype/

# Large local node binaries
node-v20.12.0-darwin-arm64/
node-v20.12.0-darwin-x64/
*.tar.xz
*.zip
*.tar.gz

# System Files
.DS_Store
Thumbs.db
